<div class="autopark autopark-wrap" id="autopark">
    <div class="title-box">
        <div class="mbox">
            <div class="title-text">
                <h2>автопарк</h2>
            </div>
        </div>
    </div>
    <div class="autopark-box">
        <div class="header-box-autopark animate-section">
            <div class="text-header animate-it">новые <br /> автомобили <br /> <span>Nissan Almera</span></div>
        </div>
        <div class="circle-box animate-section">
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle1.png" alt="" />
                </div>
                <p> <b> АКПП </b> автоматическая коробка передач</p>
            </div>
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle2.png" alt="" />
                </div>
                <p> <b>ТО от K2W </b> <br /> Техобслуживание за счёт <span>Key To Way</span></p>
            </div>
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle3.png" alt="" />
                </div>
                <p>  <b>Не курить</b> </p>
            </div>
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle4.png" alt="" />
                </div>
                <p> <b>А/С</b><br /> с кондиционером</p>
            </div>
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle5.png" alt="" />
                </div>
                <p> <b>Подогрев сидений </b> </p>
            </div>
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle6.png" alt="" />
                </div>
                <p> <b>Безопасность</b> </p>
            </div>
            <div class="circle-one-element animate-delay">
                <div class="circle-simple circle1">
                    <img src="images/circle7.png" alt="" />
                </div>
                <p> <b>Booster</b> <br/> детское кресло </p>
            </div>
        </div>

    </div>
</div>