<div class="footer_placeholder"></div>
<footer class="footer animate-section">
    <div class="mbox">
        <div class="footer-contacts-wrap">
            <div class="footer-contacts animate-it">
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon1.png" alt="" />
                    </span>
                    <span class="footer-contats-text">м. Выставочная</span>
                </div>
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon2.png" alt="" />
                    </span>
                    <span class="footer-contats-text">ул. Мантулинская, д. 7 стр. 8</span>
                </div>
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon3.png" alt="" />
                    </span>
                    <span class="footer-contats-text">
                        <a href="callto:7(925)8788777">+7 (925) 87-88-777</a>
                    </span>
                </div>
            </div>
            <div class="footer-contacts animate-it">
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon1.png" alt="" />
                    </span>
                    <span class="footer-contats-text">м. Юго-Западная</span>
                </div>
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon2.png" alt="" />
                    </span>
                    <span class="footer-contats-text">ул. Озерная, д. 46, к. 2</span>
                </div>
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon3.png" alt="" />
                    </span>
                    <span class="footer-contats-text">
                        <a href="callto:7(925)8575777">+7 (925) 85-75-777</a>
                    </span>
                </div>
            </div>
            <div class="footer-contacts animate-it">
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon1.png" alt="" />
                    </span>
                    <span class="footer-contats-text">м. Кунцевская</span>
                </div>
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon2.png" alt="" />
                    </span>
                    <span class="footer-contats-text">ул. Рябиновая 61А, строение 1</span>
                </div>
                <div class="footer-contacts-row">
                    <span class="footer-contacts-icon">
                        <img src="images/footer-contacts-icon3.png" alt="" />
                    </span>
                    <span class="footer-contats-text">
                        <a href="callto:7(925)8575777">+7 (926) 37-99-777</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="footer-logo animate-it">
            <img src="images/footer-logo.png" alt="" />
        </div>
    </div>
</footer>

