<header class="header">

    <div class="header-top">

        <div class="mbox">

            <div class="header-menu-icon">
                <div class="header-menu-icon-main">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-menu-text">МЕНЮ</div>
            </div>

            <div class="header-logo">
                    <img src="images/header-logo.png" alt="" />
                    <img src="images/header-logo-adaptive.png" class="adaptive-logo" alt="" />
            </div>

            <div class="header-title">мы работаем с лучшими</div>

            <div class="header-right">
                <a href="callto:*7777" class="fancyform">
                    <span class="callback-icon callback"></span>
                    <span class="callback-icon callback-hover"></span>
                    <img src="images/callback-icon-adaptive.png" alt="" class="callback-icon-adaptive" />
                </a>
            </div>

        </div>

    </div>

    <div class="header-bottom">
        <div class="mbox">
            <div class="header-bottom-icon"></div>
            <div class="header-bottom-title">
                <div class="header-bottom-title-wrap">
                    <div class="header-bottom-title-text">Меню</div>
                    <div class="header-bottom-title-icon"></div>
                </div>
            </div>
            <div class="header-menu">
                <ul>
                    <li><a href="#top-block">K2W</a></li>
                    <li><a href="#work-with">Работа</a></li>
                    <li><a href="#autopark">Автопарк</a></li>
                    <li><a href="#partners">Партнеры</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>

