<div class="partners" id="partners">
    <div class="title-box">
        <div class="mbox">
            <div class="title-text">
                <h2>партнеры</h2>
            </div>
        </div>
    </div>
    <div class="mbox">
        <div class="partners-content">
            <div class="items animate-section">
                <div class="item animate-it"><img src="images/partner1.png" alt=""></div>
                <div class="item animate-it"><img src="images/partner2.png" alt=""></div>
                <div class="item animate-it"><img src="images/partner3.png" alt=""></div>
                <div class="item animate-it"><img src="images/partner4.png" alt=""></div>
                <div class="item animate-it"><img src="images/partner7.png" alt=""></div>
                <div class="item animate-it"><img src="images/partner5.png" alt=""></div>
                <div class="item animate-it"><img src="images/partner6.png" alt=""></div>
            </div>
        </div>
    </div>

</div>