<div class="top-block" id="top-block">
    <div class="background"><img src="images/avtoBG.jpg" alt=""></div>
    <div class="mbox">
        <div class="content-top cfix animate-section">
            <div class="text-box">
                <div class="title-block animate-it">
                    <h2>Принципиально новый уровень сервиса в Москве </h2>
                </div>
                <div class="txt animate-it">
                    <span>ЦЕЛЬ КОМПАНИИ</span>
                    <p>создание <i>безопасного такси</i> с высоким уровнем сервиса в классе эконом.</p>
                    <span>НАШИ ПРИНЦИПЫ</span>
                    <p><i>честность и открытость</i>, взаимное уважение, вовлечённость в общее дело. </p>
                </div>
            </div>
            <div class="img-box animate-it">
                <div class="img"><img src="images/key-auto-BG.png" alt=""></div>
            </div>
        </div>
    </div>
</div>