

<div class="work-wrap work-with" id="work-with">
    <div class="art">
        <div class="title-box">
            <div class="mbox">
                <div class="title-text">
                <h2>Работайте с <i>KEY2WAY</i></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="work-box animate-section">
        <div class="box-orenda box-half-box animate-it">
            <div class="description-box">
                <div class="left-line"></div>
                <div class="tipa-zagolovok">
                    <img src="images/caaaar.png" alt="" />
                    <p> Аренда  </p>
                </div>
                <div class="tipa-list-block">
                    <ul class="tipa-list">
                        <li class="tipa-list-item">1550 или 2200* руб./сут.</li>
                        <li class="tipa-list-item">26 Рабочих дней + Дополнительный льготный день</li>
                    </ul>
                    <div class="some-massege">*Выкуп автомобиля</div>
                </div>
            </div>
        </div>
        <div class="box-shtat box-shtat-helper box-half-box animate-it">
            <div class="description-box">
                <div class="left-line"></div>
                <div class="tipa-zagolovok">
                    <img src="images/caaaar.png" alt="" />
                    <p>Штат</p>
                </div>
                <div class="tipa-list-block">
<!--                     <ul class="tipa-list">
                        <li class="tipa-list-item"> <b> 35 000 + 15 000 (от плана)</b> + все что выше плана – заработок водителя.</li>
                    </ul>
                    <div class="some-massege">Машина в подарок через 2 года (непосредственно тот автомобиль, на котором Вы работали)</div> -->
                    <ul class="tipa-list">
                        <li class="tipa-list-item">Оформление по ТК</li>
                        <li class="tipa-list-item">Выполнение плана</li>
                    </ul>
                    <div class="some-massege">Оклад + %</div>
                </div>
            </div>
        </div>
        <div class="tel_center">
            <a class="button_tel" href="callto:7(925)8788777">+7 (925) 87-88-777</a>
            <a class="button_tel" href="callto:7(925)8788777">+7 (926) 37-99-777</a>
            <a class="button_tel" href="callto:7(925)8575777">+7 (925) 85-75-777</a>
        </div>
        <div class="box-half-box">
            <div class="tipa-send tipa-button"><a href="#call-popup" class="fancyform"> Отправить заявку </a> </div>
        </div>
        <div class="box-half-box box-shtat">
            <div class="tipa-send tipa-button"><a href="docs/prez.pptx" download target="_blanc"> Скачать презентацию </a> </div>
        </div>


    </div>
</div>